<form action="/count_results">
  <div class="form-group">
    <label for="sentence">Enter sentence to search</label>
    <input class="form-control" id="sentence" name="sentence" type="text">
    <label for="word">Enter the word to search for</label>
    <input class="form-control" id="word" name="word" type="text">
  </div>
  <button type="submit" class='btn-success'>Get Count</button>
</form>
